### my binder test custom env

This environment was created to test with mybinder and github.
During initial creation, the SQL magic formatting from Ipython-sql had trouble installing and wouldn't connect to the AWS instance.

This environment had a successful connection after the following:

The Ipython-sql env was loaded before the Jupyter notebook env. Their seemed to be a conflict when Jupyter was installed first.

After that '%load_ext sql' or 'load_ext sql' started working, but the AWS instance could not connect because Psycopg2 was not properly loaded in spite of it being listed in the installed environments.

The link below provided the step necessary to connect AWS instance: 
#https://jakevdp.github.io/blog/2017/12/05/installing-python-packages-from-jupyter/

'import sys' and '!{sys.executable} -m pip install psycopg2'

were used to install Pyscopg2 successfull and the AWS instance could connect. 

#### READ THE LINK IN DETAIL FOR FURTHER BEST PRACTICES

In [1]:
import sys

In [3]:
!{sys.executable} -m pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\camer\anaconda3\lib\site-packages (2.8.4)

In [4]:
%load_ext sql

In [5]:
conn= %sql postgresql://postgres:blacklicorice@testdb.cbpltcizfdj7.us-west-1.rds.amazonaws.com:5435/meterdb
conn

'Connected: postgres@meterdb'

In [6]:
%%sql

SELECT * FROM public.parkmobile_revenue
LIMIT 20;

 * postgresql://postgres:***@testdb.cbpltcizfdj7.us-west-1.rds.amazonaws.com:5435/meterdb
20 rows affected.

[(441, None, 'Oakland, CA', datetime.datetime(2016, 7, 1, 10, 1), datetime.datetime(2016, 7, 1, 12, 1), 777418, datetime.datetime(2016, 7, 1, 10, 1), 'Yes', Decimal('4.35'), Decimal('4'), Decimal('0.35'), 1),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 1, 10, 10), datetime.datetime(2016, 7, 1, 11, 40), 626819, datetime.datetime(2016, 7, 1, 10, 10), 'Yes', Decimal('3.35'), Decimal('3'), Decimal('0.35'), 2),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 1, 10, 21), datetime.datetime(2016, 7, 1, 12, 21), 1167647, datetime.datetime(2016, 7, 1, 10, 21), 'Yes', Decimal('4.35'), Decimal('4'), Decimal('0.35'), 3),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 1, 11, 53), datetime.datetime(2016, 7, 1, 12, 29), 1712289, datetime.datetime(2016, 7, 1, 11, 53), 'Yes', Decimal('1.55'), Decimal('1.2'), Decimal('0.35'), 4),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 1, 12, 36), datetime.datetime(2016, 7, 1, 13, 36), 1579620, datetime.datetime(2016, 7, 1, 12, 36), 'Yes', Decimal('2.35'), Decimal('2'), Decimal('0.35'), 5),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 1, 13, 36), datetime.datetime(2016, 7, 1, 14, 36), 1579620, datetime.datetime(2016, 7, 1, 13, 27), 'Yes', Decimal('2.35'), Decimal('2'), Decimal('0.35'), 6),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 1, 17, 56), datetime.datetime(2016, 7, 1, 18, 2), 1013733, datetime.datetime(2016, 7, 1, 17, 56), 'Yes', Decimal('0.55'), Decimal('0.2'), Decimal('0.35'), 7),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 2, 8, 53), datetime.datetime(2016, 7, 2, 10, 13), 1259862, datetime.datetime(2016, 7, 2, 8, 53), 'Yes', Decimal('3.05'), Decimal('2.7'), Decimal('0.35'), 8),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 2, 9, 9), datetime.datetime(2016, 7, 2, 10, 27), 1607869, datetime.datetime(2016, 7, 2, 9, 9), 'Yes', Decimal('2.95'), Decimal('2.6'), Decimal('0.35'), 9),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 2, 11, 6), datetime.datetime(2016, 7, 2, 11, 39), 885967, datetime.datetime(2016, 7, 2, 11, 6), 'Yes', Decimal('1.45'), Decimal('1.1'), Decimal('0.35'), 10),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 2, 12, 8), datetime.datetime(2016, 7, 2, 12, 44), 544799, datetime.datetime(2016, 7, 2, 12, 8), 'Yes', Decimal('1.55'), Decimal('1.2'), Decimal('0.35'), 11),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 2, 13, 9), datetime.datetime(2016, 7, 2, 13, 39), 1213891, datetime.datetime(2016, 7, 2, 13, 9), 'Yes', Decimal('1.35'), Decimal('1'), Decimal('0.35'), 12),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 2, 13, 42), datetime.datetime(2016, 7, 2, 14, 21), 919681, datetime.datetime(2016, 7, 2, 13, 42), 'Yes', Decimal('1.65'), Decimal('1.3'), Decimal('0.35'), 13),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 2, 14, 33), datetime.datetime(2016, 7, 2, 14, 48), 919931, datetime.datetime(2016, 7, 2, 14, 33), 'Yes', Decimal('0.85'), Decimal('0.5'), Decimal('0.35'), 14),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 2, 15, 40), datetime.datetime(2016, 7, 2, 16, 10), 565523, datetime.datetime(2016, 7, 2, 15, 40), 'Yes', Decimal('1.35'), Decimal('1'), Decimal('0.35'), 15),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 2, 17, 31), datetime.datetime(2016, 7, 2, 18, 1), 1646920, datetime.datetime(2016, 7, 2, 17, 31), 'Yes', Decimal('1.35'), Decimal('1'), Decimal('0.35'), 16),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 3, 8, 37), datetime.datetime(2016, 7, 3, 10, 37), 1619924, datetime.datetime(2016, 7, 3, 8, 37), 'Yes', Decimal('0.35'), Decimal('0'), Decimal('0.35'), 17),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 5, 12, 46), datetime.datetime(2016, 7, 5, 13, 4), 683300, datetime.datetime(2016, 7, 5, 12, 46), 'Yes', Decimal('0.95'), Decimal('0.6'), Decimal('0.35'), 18),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 5, 16, 18), datetime.datetime(2016, 7, 5, 18, 0), 440152, datetime.datetime(2016, 7, 5, 16, 18), 'Yes', Decimal('3.75'), Decimal('3.4'), Decimal('0.35'), 19),
 (441, None, 'Oakland, CA', datetime.datetime(2016, 7, 5, 16, 21), datetime.datetime(2016, 7, 5, 17, 33), 838890, datetime.datetime(2016, 7, 5, 16, 21), 'Yes', Decimal('2.75'), Decimal('2.4'), Decimal('0.35'), 20)]